<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Afrodita - Salón de Uñas y Spa de Belleza - Inicio Dos</title>
        <meta name="author" content="Angfuzsoft">
        <meta name="description" content="Afrodita - Salón de Uñas y Spa de Belleza">
        <meta name="keywords" content="Afrodita - Salón de Uñas y Spa de Belleza">
        <meta
        name="robots" content="INDEX,FOLLOW">
        <!-- Mobile Specific Metas -->
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicons - Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/img/favicons/apple-icon-57x57.png' | url }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/img/favicons/apple-icon-60x60.png' | url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/img/favicons/apple-icon-72x72.png' | url }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/img/favicons/apple-icon-76x76.png' | url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/img/favicons/apple-icon-114x114.png' | url }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/img/favicons/apple-icon-120x120.png' | url }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/img/favicons/apple-icon-144x144.png' | url }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/img/favicons/apple-icon-152x152.png' | url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-icon-180x180.png' | url }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/img/favicons/android-icon-192x192.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/favicons/favicon-96x96.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png' | url }}">
        <link rel="manifest" href="{{ '/assets/img/favicons/manifest.json' | url }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ '/assets/img/favicons/ms-icon-144x144.png' | url }}">
        <meta
        name="theme-color" content="#ffffff">
        <!-- ============================== Google Fonts ============================== -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&display=swap"
            rel="stylesheet">
        <!-- ============================== All CSS File ============================== -->
        <!-- Bootstrap -->
        <link
        rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | url }}">
        <!-- Fontawesome Icon -->
        <link
        rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | url }}">
        <!-- Magnific Popup -->
        <link
        rel="stylesheet" href="{{ '/assets/css/magnific-popup.min.css' | url }}">
        <!-- Slick Slider -->
        <link
        rel="stylesheet" href="{{ '/assets/css/slick.min.css' | url }}">
        <!-- odometer -->
        <link
        rel="stylesheet" href="{{ '/assets/css/odometer-theme-default.css' | url }}">
        <!-- flipster -->
        <link
        rel="stylesheet" href="{{ '/assets/css/jquery.flipster.min.css' | url }}">
        <!-- datetimepicker -->
        <link
        rel="stylesheet" href="{{ '/assets/css/jquery.datetimepicker.min.css' | url }}">
        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    </head>
    <body>
        <!-- [if lte IE 9]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p> <![endif] -->
        <!-- ******************************** Code Start From Here ******************************** -->
        <!-- ============================== Preloader ============================== -->
        <div class="preloader ">
            <button class="th-btn style3 preloaderCls">Cancelar Precarga
            </button>
            <div class="preloader-inner">
                <img src="{{ '/assets/img/logo.jpeg' | url }}" alt="Afrodita" style="max-height: 75px;">
                <span class="loader"></span>
            </div>
        </div>
        <!-- ==============================
            Mobile Menu
        ============================== -->
        <div class="th-menu-wrapper">
            <div class="th-menu-area">
                <div class="mobile-logo">
                    <a href="index.html"><img src="{{ '/assets/img/logo.jpeg' | url }}" alt="Afrodita" style="max-height: 75px;">
                    </a>
                    <div class="close-menu">
                        <button class="th-menu-toggle">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="th-mobile-menu">
                    <ul>
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Sobre Nosotros</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="about.html">Sobre Uno Spa y Uñas</a>
                                </li>
                                <li>
                                    <a href="about-2.html">Sobre Dos Salón y Bienestar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Servicios</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="service.html">Servicios Uno Spa y Uñas</a>
                                </li>
                                <li>
                                    <a href="service-2.html">Servicios Dos Salón y Bienestar</a>
                                </li>
                                <li>
                                    <a href="service-details.html">Detalles de Servicios</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children mega-menu-wrap">
                            <a href="#">Páginas</a>
                            <ul class="mega-menu">
                                <li>
                                    <a href="shop.html">Lista de Páginas 1</a>
                                    <ul>
                                        <li>
                                            <a href="index.html">Salón de Masajes Spa</a>
                                        </li>
                                        <li>
                                            <a href="home-nail-stylist.html">Estilista de Uñas</a>
                                        </li>
                                        <li>
                                            <a href="home-hair-salon.html">Salón de Belleza</a>
                                        </li>
                                        <li>
                                            <a href="home-beauty-salon">Salón de Belleza</a>
                                        </li>
                                        <li>
                                            <a href="home-skin-care.html">Cuidado de la Piel</a>
                                        </li>
                                        <li>
                                            <a href="home-plastic-surgery.html">Cirugía Plástica</a>
                                        </li>
                                        <li>
                                            <a href="home-cosmetic-surgery.html">Cirugía Cosmética</a>
                                        </li>
                                        <li>
                                            <a href="home-massage-parlours.html">Salones de Masajes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Lista de Páginas 2</a>
                                    <ul>
                                        <li>
                                            <a href="about.html">Sobre Uno Spa y Uñas</a>
                                        </li>
                                        <li>
                                            <a href="about-2.html">Sobre Dos Salón y Bienestar</a>
                                        </li>
                                        <li>
                                            <a href="service.html">Servicios Uno Spa y Uñas</a>
                                        </li>
                                        <li>
                                            <a href="service-2.html">Servicios Dos Salón y Bienestar</a>
                                        </li>
                                        <li>
                                            <a href="service-details.html">Detalles de Servicios</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Lista de Páginas 3</a>
                                    <ul>
                                        <li>
                                            <a href="appointment.html">Cita</a>
                                        </li>
                                        <li>
                                            <a href="team.html">Equipo</a>
                                        </li>
                                        <li>
                                            <a href="team-details.html">Detalles del Equipo</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">Detalles del Blog</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Lista de Páginas 4</a>
                                    <ul>
                                        <li>
                                            <a href="gallery.html">Galería de Fotos</a>
                                        </li>
                                        <li>
                                            <a href="price.html">Tabla de Precios</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">Preguntas Frecuentes</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contáctanos</a>
                                        </li>
                                        <li>
                                            <a href="error.html">Página de Error</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Tienda</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="shop.html">Tienda</a>
                                </li>
                                <li>
                                    <a href="shop-details.html">Detalles de la Tienda</a>
                                </li>
                                <li>
                                    <a href="cart.html">Página del Carrito</a>
                                </li>
                                <li>
                                    <a href="checkout.html">Pagar</a>
                                </li>
                                <li>
                                    <a href="wishlist.html">Lista de Deseos</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--=============================Sidemenu============================== -->
        <div class="sidemenu-wrapper d-none d-lg-block ">
            <div class="sidemenu-content bg-black2">
                <button class="closeButton sideMenuCls">
                    <i class="far fa-times"></i>
                </button>
                <div class="widget footer-widget">
                    <div class="th-widget-about">
                        <div class="about-logo">
                            <a href="index.html"><img src="{{ '/assets/img/logo.jpeg' | url }}" alt="Afrodita" style="max-height: 75px;">
                            </a>
                        </div>
                        <p class="about-text">Aplicaciones céntricas que productizan portales de interfaz visualizan resultados de interfaz y valor añadido</p>
                        <div class="working-time">
                            <span class="title">Estamos Disponibles:</span>
                            <p class="desc">Lun-Sáb: 08:00 am a 5:00 pm</p>
                        </div>
                        <div class="th-social  footer-social">
                            {# <a href="https://www.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://www.behance.net/">
                                <i class="fa-brands fa-behance"></i>
                            </a> #}
                        </div>
                    </div>
                </div>
                <div class="widget footer-widget">
                    <h3 class="widget_title">Publicaciones Recientes</h3>
                    <div class="recent-post-wrap">
                        <div class="recent-post">
                            <div class="media-img">
                                <a href="blog-details.html"><img src="{{ '/assets/img/blog/recent-post-2-1.jpg' | url }}" alt="Blog Image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="post-title">
                                    <a class="text-inherit" href="blog-details.html">Residentes locales y algunas celebridades también</a>
                                </h4>
                                <div class="recent-post-meta">
                                    <a href="blog.html">
                                        <i class="fal fa-calendar-days"></i>19 Junio, 2024</a>
                                </div>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="media-img">
                                <a href="blog-details.html"><img src="{{ '/assets/img/blog/recent-post-2-2.jpg' | url }}" alt="Blog Image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="post-title">
                                    <a class="text-inherit" href="blog-details.html">Residentes locales y algunas celebridades también</a>
                                </h4>
                                <div class="recent-post-meta">
                                    <a href="blog.html">
                                        <i class="fal fa-calendar-days"></i>22 Junio, 2024</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget footer-widget">
                    <h4 class="widget_title">Boletín</h4>
                    <div class="newsletter-widget">
                        <p class="md-10">Suscríbete para recibir actualizaciones y noticias sobre nosotros. Obtén las últimas ofertas de Walker's Inbox en tu dirección de correo.</p>
                        <div class="footer-search-contact mt-25">
                            <form>
                                <input class="form-control" type="email" placeholder="Ingresa tu correo electrónico">
                            </form>
                            <div class="footer-btn mt-10">
                                <button type="submit" class="th-btn style3 fw-btn">Suscríbete Ahora
                                    <i class="fa-regular fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-search-box d-none d-lg-block">
            <button class="searchClose">
                <i class="fal fa-times"></i>
            </button>
            <form action="#">
                <input type="text" placeholder="¿Qué estás buscando?">
                <button type="submit">
                    <i class="fal fa-search"></i>
                </button>
            </form>
        </div>
        <!-- ============================== Header Area ============================== -->
        <header class="th-header header-layout2 header-absolute onepage-nav">
            <div class="header-top">
                <div class="container th-container">
                    <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                        <div class="col-auto d-none d-lg-block">
                            <div class="header-links">
                                <ul>
                                    <li>
                                        <i class="far fa-phone"></i>
                                        <a href="tel:8998669941">899 866 9941</a>
                                    </li>
                                    <li>
                                        <i class="fab fa-whatsapp"></i>
                                        <a href="https://wa.me/19569274373">+1(956)927-4373</a>
                                    </li>
                                    <li>
                                        <i class="far fa-envelope"></i>
                                        <a href="mailto:Afroditaluxespa@gmail.com">Afroditaluxespa@gmail.com</a>
                                    </li>
                                    <li>
                                        <i class="fal fa-location-dot"></i>C. Hidalgo 687, CENTRO, 88500 Reynosa, Tamps., Mexico</li>
                                    <li>
                                        <i class="fa-light fa-clock"></i>Lun - Sáb: 8 AM - 15 PM Domingo Cerrado</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="social-links">
                                <span class="social-title">Síguenos:</span>
                                {# <a href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a> #}
                                <a href="https://www.instagram.com/afrodita_luxespa">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                {# <a href="https://www.youtube.com/">
                                    <i class="fab fa-youtube"></i>
                                </a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="sticky-wrapper">
                <!-- Main Menu Area -->
                <div class="menu-area">
                    <div class="container th-container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img src="{{ '/assets/img/logo.jpeg' | url }}" alt="Afrodita" style="max-height: 75px;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto me-xl-auto">
                                <nav class="main-menu d-none d-lg-inline-block">
                                    <ul>
                                        <li>
                                            <a href="index.html">Inicio</a>
                                        </li>
                                        <li>
                                            <a href="#about-sec">Sobre Nosotros</a>
                                        </li>
                                        <li>
                                            <a href="#service-sec">Servicios</a>
                                        </li>
                                        <li>
                                            <a href="#gallery-sec">Galería</a>
                                        </li>
                                        <li>
                                            <a href="#contact-sec">Contáctanos</a>
                                        </li>
                                    </ul>
                                </nav>
                                <button class="th-menu-toggle d-inline-block d-lg-none">
                                    <i class="far fa-bars"></i>
                                </button>
                            </div>
                            {# <div class="col-auto d-none d-xl-block">
                                <div class="header-button">
                                    <button type="button" class="icon-btn searchBoxToggler">
                                        <i class="far fa-search"></i>
                                    </button>
                                    <a href="appointment.html" class="th-btn style3">Appointment Now<i class="fa-regular fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>
                <div class="logo-bg"></div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer class="footer-wrapper footer-layout2" data-bg-src="{{ '/assets/img/bg/footer_bg_2.jpg' | url }}">
            <div class="widget-area">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-xxl-3 col-xl-4">
                            <div class="widget footer-widget">
                                <div class="th-widget-about">
                                    <div class="about-logo">
                                        <a href="index.html"><img src="{{ '/assets/img/logo.jpeg' | url }}" alt="Afrodita" style="max-height: 75px;">
                                        </a>
                                    </div>
                                    <p class="about-text">Aplicaciones céntricas que productizan portales de interfaz visualizan la interfaz.</p>
                                    <div class="th-widget-about">
                                        <p class="footer-info">
                                            <i class="fa-sharp fa-solid fa-phone"></i>
                                            <a class="text-inherit" href="tel:8998669941">899 866 9941</a>
                                        </p>
                                        <p class="footer-info">
                                            <i class="fab fa-whatsapp"></i>
                                            <a class="text-inherit" href="https://wa.me/19569274373">+1(956)927-4373</a>
                                        </p>
                                        <p class="footer-info">
                                            <i class="fas fa-envelope"></i>
                                            <a class="text-inherit" href="mailto:info@afrodita.com">info@afrodita.com</a>
                                        </p>
                                    </div>
                                    <div class="th-social footer-social mt-40">
                                        {# <a href="https://www.facebook.com/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="https://www.twitter.com/">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a href="https://www.behance.net/">
                                            <i class="fa-brands fa-behance"></i>
                                        </a> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu  footer-widget">
                                <h3 class="widget_title">Enlaces Rápidos</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="about.html">Sobre Nosotros</a>
                                        </li>
                                        {# <li><a href="booking.html">Work Gallery</a></li>
                                                                            <li><a href="contact.html">Privacy Policy</a></li>
                                                                            <li><a href="service.html">Our Services</a></li>
                                                                            <li><a href="price.html">Pricing Plans</a></li>
                                                                            <li><a href="contact.html">Contact Us</a></li> #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Nuestros Servicios</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="service.html">Manos y Pies</a>
                                        </li>
                                        {# <li><a href="service.html">Facials Waxing</a></li>
                                                                            <li><a href="service.html">Body Waxing</a></li>
                                                                            <li><a href="service.html">Brows & Lashes</a></li>
                                                                            <li><a href="service.html">Body Massage</a></li>
                                                                            <li><a href="service.html">Hair Color</a></li> #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {# <div class="col-md-6 col-xl-3">
                                                <div class="widget footer-widget">
                                                    <h3 class="widget_title">Recent Posts</h3>
                                                    <div class="recent-post-wrap">
                                                        <div class="recent-post">
                                                            <div class="media-img">
                                                                <a href="blog-details.html"><img src="{{ '/assets/img/blog/recent-post-2-1.jpg' | url }}" alt="Blog Image"></a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Local residents and a few celebrities, too</a></h4>
                                                                <div class="recent-post-meta">
                                                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>19 June, 2024</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="recent-post">
                                                            <div class="media-img">
                                                                <a href="blog-details.html"><img src="{{ '/assets/img/blog/recent-post-2-2.jpg' | url }}" alt="Blog Image"></a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Local residents and a few celebrities, too</a></h4>
                                                                <div class="recent-post-meta">
                                                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2024</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> #}
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <p class="copyright-text">Copyright
                                <i class="fal fa-copyright"></i>
                                2024
                                <a href="#">Afrodita</a>. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-links">
                                <ul>
                                    <li>
                                        <a href="about.html">Términos y Condiciones</a>
                                    </li>
                                    <li>
                                        <a href="about.html">Política de Privacidad</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scroll To Top -->
        <div class="scroll-top">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
                <path
                    d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                    style="transition: stroke-dashoffset 10s linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
            </svg>
        </div>
        <!-- ============================== All Js File ============================== -->
        <!-- Jquery -->
        <script src="{{ '/assets/js/vendor/jquery-3.6.0.min.js' | url }}"></script>
        <!-- Slick Slider -->
        <script src="{{ '/assets/js/slick.min.js' | url }}"></script>
        <!-- Bootstrap -->
        <script src="{{ '/assets/js/bootstrap.min.js' | url }}"></script>
        <!-- Magnific Popup -->
        <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | url }}"></script>
        <!-- jquery ui -->
        <script src="{{ '/assets/js/jquery-ui.min.js' | url }}"></script>
        <!-- imagesloaded -->
        <script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | url }}"></script>
        <!-- isotope -->
        <script src="{{ '/assets/js/isotope.pkgd.min.js' | url }}"></script>
        <!-- odometer -->
        <script src="{{ '/assets/js/jquery.odometer.min.js' | url }}"></script>
        <!-- wow -->
        <script src="{{ '/assets/js/wow.min.js' | url }}"></script>
        <!-- tilt -->
        <script src="{{ '/assets/js/tilt.min.js' | url }}"></script>
        <!-- flipster -->
        <script src="{{ '/assets/js/jquery.flipster.min.js' | url }}"></script>
        <!-- datetimepicker -->
        <script src="{{ '/assets/js/jquery.datetimepicker.min.js' | url }}"></script>
        <!-- Nice Select -->
        <script src="{{ '/assets/js/nice-select.min.js' | url }}"></script>
        <!-- Main Js File -->
        <script src="{{ '/assets/js/main.js' | url }}"></script>
    </body>
</html>